@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/inter-400.woff2) format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/inter-700.woff2) format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/inter-900.woff2) format(woff2);
  font-display: swap;
}


.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
-webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
  height: 100%;
}


.page-container {
  margin: 0;

  width: 100%;

  background-color: #FEAFC3;
  color: black;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}


.page-header {

display: flex;
flex-direction: row;
background-color: #FEAFC3;
color: rgba(45, 52, 64, 1);
  width: 1170px;
  min-height: 104px;
  align-items: center;

  margin: 0 auto;
  text-align: center;

}

.navigation-logo {
  margin-right: 16px;

}

.container-navigation {
  min-width: 1017px;
display: flex;
flex-direction: row;
justify-content: space-between;

}
.navigation-menu-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 422px;
 padding: 0;
 margin: 0;
  justify-content: space-around;
  margin-right: 164px;
  align-items: center;
list-style: none;
}

.navigation-user-menu {
  margin: 0;
  padding: 0;
 display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: 431px;
list-style: none;
align-items: center;
}


.navigation-link  {
  background-color: #FEAFC3;
  color: #2d3440;
    line-height: 20px;
   font-weight: 400;
   text-align: center;
   text-decoration: none;
   padding: 10px;
   border-radius: 50px;
}

.navigation-link:hover {
  background-color: rgba(255, 74, 120, 1);
  color: rgba(252, 252, 252, 1);
  opacity: 0.7;

}

.navigation-link:focus {
  background-color: rgba(255, 74, 120, 1);
  outline: none;
    border: 2px solid rgba(0, 0, 0, 1);
    color: rgba(252, 252, 252, 1);

}

.navigation-link:active {
 background-color: rgba(255, 74, 120, 1);
  color: rgba(252, 252, 252, 1);
  opacity: 0.5;
}

.contacts-phone {
  font-weight: 900;
  line-height: 20px;

}

.login-button {
 border: none;
  min-width: 88px;
 padding: 8px 15px;
 font-size: 14px;
}

.search-button {
  width: 11px;
  height: 11px;
  color: rgba(0, 0, 0, 1);
  background-color: #FEAFC3;
  opacity: 0.6;
  overflow: hidden;
  border: none;

}

.counter {
  min-width: 115px;
 padding: 8px 16px;
 font-size: 14px;
}


.catalog-item {
 margin: 0;
  position:relative;
}

.popover-catalog.popover-open {
  position: absolute;
  width: 135px;
}

.new-products {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin: 8px 58px 8px 16px;
  border-bottom: 1px solid rgba(185, 185, 185, 1);

}

.main-index {
  background-color: #FEAFC3;
  color: #000;
  min-width: 1170px;
  margin: 0 auto;
  text-align: center;
}


.installation {
 width: 1170px;

  margin: 0 auto;
   margin-bottom: 80px;
}

.slider-installation-list {
 display: flex;
 flex-wrap: wrap;
 list-style: none;
}

.slider-card-1 {
  width: 327px;
  display: flex;
}
.slider-title {
  font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: 900;
  flex-wrap: wrap;
   min-width: 470px;
  font-size: 36px;
  line-height: 46px;
  color: rgba(45, 52, 64, 1);
  background-color: #FEAFC3;
  margin-top: 136px;
  margin-right: auto;

}

.installation-description {

  flex-wrap: wrap;
  min-width: 429px;
  font-size: 18px;
  line-height: 24px;
  color: rgba(45, 52, 64, 1);
  margin-bottom: 48px;
  margin-top: 24px;

}

.button-order-link {
  min-width: 139px;
  flex-wrap: wrap;
  font-weight: 900;
  border: 4px solid rgba(252, 252, 252, 0.4);
  background-color: #fff;
  color: rgba(45, 52, 64, 1);
  border-radius: 50px;
  padding: 6px 10px;
  text-decoration: none;
}

.button-order-link:active {
  background-color: #fff;
  border: 2px solid rgba(45, 52, 64, 1);
}

.button-order-link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid rgba(45, 52, 64, 1);
}

.button-order-link:hover {
  background-color: rgba(252, 252, 252, 0.4);
  border-color: #fff;
}


.installation-wrapper {
   position: relative;
  min-width: 1170px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.slider-installation-list {

  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  list-style: none;
}

.img-strawberry-jam-1 {
 position: relative;
 background-image: url("../images/Подложка.svg");
 background-position: center;
 background-repeat: no-repeat;


}

.img-banana-flavor-2::before {
  content: "";
  position: absolute;

  width: 100px;
  height: 150px;

}

.img-with-marshmallows-3::before {
  content: "";
  position: absolute;

  width: 100px;
  height: 150px;

}

.slider-wrapper {
  position: absolute;

  width: 100%;
  display: flex;

}

.slider-button-item {
  position: relative;
  list-style: none;
}


.slider-next {
  text-align: center;


  width: 39px;
  height: 39px;
  color: #fff;
  background-color: rgba(255, 203, 216, 0.7);
  border: none;

  cursor: pointer;
  background-image: url("../images/slider1.svg");
  background-repeat: no-repeat;


}

 .slider-button:hover {
  background-color: #fff;

}

.slider-button:focus {
  background-color: #FEAFC3;
  color: #fff;
  border-color: #fff;

}

.slider-prev {

  display: flex;
 text-align: end;

  background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    width: 39px;
      height: 39px;
      color: #fff;
      background-color: rgba(255, 203, 216, 0.7);
      border: none;
      cursor: pointer;


}

.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  background-color: rgba(252, 252, 252, 1);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button:hover {
background-color: rgba(254, 175, 195, 1);
border-color: #fff;
}

.slider-pagination-button:focus {
  background-color: rgba(254, 175, 195, 1);
  border-color: rgba(252, 252, 252, 0.3);
  outline: none;
}

.slider-pagination-button-current{
  background-color: rgba(252, 252, 252, 1);
  border: none;
}
