@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/inter-400.woff2) format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/inter-700.woff2) format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/inter-900.woff2) format(woff2);
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
  height: 100%;
}

body {
  min-width: 100%;
  padding: 0;
  margin: 0;
  background-color: #FEAFC3;
  color: #2d3440;
   font-family: "Inter", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  /* clip-path: inset(100%); */
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  min-height: 100vh;
}

.theme-1 {
 background-color: #FEAFC3;
}

.theme-2 {
 background-color: #69A9FF;
}

.theme-3 {
  background-color: #FCC850;
}

.page-content {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.main-index {
  flex-grow: 1;
  margin: 0 auto;

}

.header-link {
  display: inline-block;
  margin-right: 17px;
}

.header-link:focus-visible {
  outline-offset: -2px;
}

.header-logo {
 display: block;
}

.page-header {
   display: flex;
   flex-wrap: wrap;
   align-items: start;
   background-color: #FEAFC3;
   color: #2d3440;
}

.header-navigation {
   display: flex;
    width: 739px;
}

.navigation-menu-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding-top: 10px;
  align-items: flex-start;
}

.navigation-user-menu {
  display: flex;
  flex-wrap: wrap;
  padding-top: 12px;
  width: 430px;
  align-items: flex-start;
   column-gap: 13px;
}

.navigation-user-list {
   position: relative;
   display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
    column-gap: 16px;
}

.subcatalog-list {
   margin: 0;
    list-style-type: none;
    width: 136px;
    padding: 10px 0 7px 0;
    background-color: #ffffff;
    border-radius: 4px;
}

.subcatalog-link {
  padding: 6px 13px 6px 16px;
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: inherit;
    text-decoration: none;
}


.subcatalog-new {
  position: relative;
  margin-bottom: 5px;
}

.subcatalog-new .subcatalog-link {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  padding-bottom: 12px;
}

.subcatalog-new .subcatalog-link::after {
  content: "";
  display: block;
  width: calc(100% - 32px);
  background-color: rgba(185, 185, 185, 1);
  position: absolute;
  z-index: 3;
  left: 16px;
  top: calc(100% - 1px);
}

.subcatalog-new:hover,
.subcatalog-link:hover {
 background-color: rgba(255, 203, 216, 1);
}


.subcatalog-link:focus {
 background-color: rgba(255, 74, 120, 1);
 outline: none;
}

.subcatalog-link:active{
 background-color: rgba(255, 119, 153, 1);
}

.phone-link {
  display: inline-block;
  color: rgba(45, 52, 64, 1);
  text-decoration: none;
  font-weight: 700;
  padding-top: 6px;
  padding-bottom: 4px;
  max-width: 150px;
}

.phone-link:hover {
  opacity: 0.7;
}

.navigation-link {
  display: inline-block;
  padding: 6px 16px;
  text-decoration: none;
  color: inherit;
  max-width: 179px;
}

.navigation-link-catalog {
  min-width: 117px;
  padding: 6px 38px 6px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navigation-user-link:hover,
.navigation-link:hover {
  border-radius: 30px;
  background-color: rgba(252, 252, 252, 0.5);
}

.navigation-user-link:focus,
.navigation-link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
  outline: 2px solid rgba(45, 52, 64, 1);
}

.navigation-user-link:active,
.navigation-link:active {
  border-radius: 30px;
  outline: none;
  background-color: rgba(252, 252, 252, 1);
}

.navigation-link-catalog::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 7px;
  background-image: url("../images/marc.svg");
  background-repeat: no-repeat;
  padding: 6px;
  position: absolute;
  top: 16px;
  left: 95px;

}

.navigation-link-catalog:hover::after,
.navigation-link-catalog:active::after {
  content: "";
  transform: rotate(180deg);
  background-image: url("../images/marc.svg");

}

.catalog-item:hover>.popover-catalog,
 .navigation-link:hover {
  display: block;
}

.catalog-item:hover>.navigation-link-catalog,
.navigation-link:hover {
  background-color: rgba(255, 74, 120, 1);
  color: rgba(252, 252, 252, 1);
  border-radius: 30px;
}

.catalog-item:hover>.navigation-link-catalog::after {
transform: rotate(180deg);
background-image: url("../images/header-arrow-down-white.svg");
}

.catalog-item:focus>.navigation-link-catalog,
.navigation-link:focus {
  background-color: rgba(255, 74, 120, 1);
  outline: 2px solid rgba(0, 0, 0, 1);
}

.catalog-item:active>.navigation-link-catalog,
.navigation-link:active {
background-color: rgba(255, 74, 120);
opacity: 0.3;
}

.catalog-item:focus-within>.popover-catalog {
  display: block;
}

.catalog-item:focus-within>.navigation-link-catalog {
  color: rgba(252, 252, 252, 1);
  background-color: rgba(255, 74, 120, 1);
  border-radius: 30px;
}

.catalog-item:focus-within>.navigation-link-catalog::after {
  background-image: url("../images/header-arrow-down-white.svg");
  transform: rotate(180deg);
}

.navigation-user-link{
  background-color: rgba(252, 252, 252, 0.3);
  text-decoration: none;

}

.navigation-search-entry {
  padding: 9px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: rgba(45, 52, 64, 1);
}

.header-search-icon {
fill: rgba(45, 52, 64, 1);
}

.navigation-user-entry {
  position: relative;
 max-width: 88px;
 padding: 6px 16px;
  border-radius: 30px;
}

.navigation-user-entry,
.navigation-cart {
  text-decoration: none;
}


.entry-icon {
  margin-right: 3px;
  fill: rgba(45, 52, 64, 1);
  text-align: center;
}

.header-entry-text {
  font-size: 14px;
  text-align: center;
}

.navigation-cart {
border-radius: 30px;
padding: 8px 16px 6px 15px;
}


.cart-icon {
 margin-right: 2px;
 fill: rgba(45, 52, 64, 1);
}

/* footer */

.page- footer {
  max-width: 100%;
}

.wrapper-footer {
  position: relative;
  box-sizing: border-box;
  min-width: 1170px;
  margin: 0;
  padding: 48px 180px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

}

.social-network {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  top: 50px;
}

.social-list {
  display: flex;
  max-width: 104px;
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.social-item {
  width: 28px;
  height: 28px;
  margin-right: 16px;
  align-items: center;
}

.suppliers-link {
  text-decoration: none;
  font-size: 14px;
  color: inherit;
}


.footer-socials-link:hover::after {
 content: "";
  display: block;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  outline: 2px solid rgba(252, 252, 252, 0.3);
}

.socials-link:focus::after {
  background-color: rgba(252, 252, 252, 1);
  outline: 2px solid rgba(45, 52, 64, 1);
}

.socials-link:focus-visible {
  border: none;
  outline: none;
}

.socials-link:active::after {
  background-color: rgba(45, 52, 64, 1);
  outline: 2px solid rgba(252, 252, 252, 0.5);
}

.social-item-telegram::after {
  background-image: url("../images/telegram-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.social-item-vkontakte::after {
  background-image: url("../images/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.social-item-youtube::after {
  background-image: url("../images/youtube-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.footer-menu {
  width: 356px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 363px;
  margin-top: 0;
  margin-right: 259px;

}

.suppliers-list,
.about-production {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.documents {
  position: relative;
  width: 178px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.documents-title {
  max-width: 150px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.suppliers-content {
  margin: 0;
  position: absolute;
  top: 40px;
}

.standards {
  width: 178px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap
}
.content-info {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.suppliers-item {
 margin-top: 8px;
}
.suppliers-item-info::before {
  background-image: url("../images/heart-footer.svg");
  background-repeat: no-repeat;
  background-position: center center;
  align-self: center;
  content: "";
  display: inline-block;
  width: 14px;
  height: 12px;
}

.about {
 position: relative;
}

.htmlacademy-logo-link {
  display: block;
}

.copyright {
  width: 193px;
  position: absolute;
 display: block;
  font-size: 12px;
  line-height: 16px;
  color: inherit;
  text-decoration: none;
  top: 22px;
}

.copyright-text {
 display: inline-block;
 border-bottom: 1px solid rgba(45, 52, 64, 0.5);
}

.html-academy-logo {
  width: 93px;
  position: absolute;
  top: -35px;
}

.html-academy-link {
font-size: 12px;
  line-height: 16px;
  color: inherit;

}

.popover-search-wrapper {
 position: absolute;
  /* display: none; */
  z-index: 4;
  padding-top: 10px;
  right: 0;
  top: calc(100% - 5px);
}

.navigation-search-entry {
  position: relative;
}

.popover-search-form {
    display: block;
    width: 356px;
    /* position: absolute; */
    padding: 25px 17px 25px 17px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  }

.search-form-input {
 padding: 13px 16px;
  width: 100%;
  border: none;
  outline: 1px solid rgba(185, 185, 185, 1);
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(185, 185, 185, 1);
  background-color: rgba(255, 255, 255, 1);
  font-family: inherit;
}

.search-form-input::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: rgba(185, 185, 185, 0.7);
}

.input-field-state:not(:placeholder-shown) {
  color: rgba(45, 52, 64, 1);
  outline: 1px solid rgba(185, 185, 185, 1);
  border-radius: 4px;

}

.input-field-state:hover {
  color: rgba(45, 52, 64, 1);
  outline: 1px solid rgba(45, 52, 64, 1);
}

.input-field-state:hover::placeholder {
  color: rgba(45, 52, 64, 1);
}

.input-field-state:focus {
  outline: 2px solid rgba(45, 52, 64, 1);
  color: rgba(45, 52, 64, 1);
}

/*ошибка поля ввода*/
.error-input {
  outline: 1px solid rgba(234, 84, 84, 1);
  color: rgba(45, 52, 64, 1);
}

.error-input:hover {
  outline: 2px solid rgba(234, 84, 84, 1);
  color: rgba(45, 52, 64, 1);
}

.input-field-state:disabled {
  outline: 1px solid rgba(185, 185, 185, 1);
  background-color: rgba(231, 231, 231, 1);
  color: rgba(45, 52, 64, 0.65);
}

.input-field-state:disabled:hover {
  outline: 1px solid rgba(185, 185, 185, 1);
  background-color: rgba(231, 231, 231, 1);
  color: rgba(45, 52, 64, 1);
}

.header-form-button {
  width: 10px;
  height: 10px;
  background-image: url("../images/header-form-cross.svg");
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 30px;
  top: calc(50% - 5px);
  cursor: pointer;
  display: none;
}

.header-form-button:hover {
  opacity: 0.7;
}

.search-form-input:not(:placeholder-shown) ~ .header-form-button {
  display: block;
}

.header-form-button:focus {
  outline: 2px solid rgba(0, 0, 0, 1);
  outline-offset: 2px;
}

.navigation-user-item {
  position: relative;
 font-size: 14px;
  margin-bottom: 5px;
  max-width: 113px;
}

.popover-open {
  position: absolute;
  display: none;
}

.navigation-user-item:hover> .popover-personal,
.navigation-user-item:focus-within> .entry-form {
display: block;
}

.cart-item:hover> .navigation-cart,
.entry-popover:hover > .navigation-user-entry,
.navigation-user-item:hover> .navigation-search-entry {
background-color: rgba(255, 74, 120, 1);
color: rgba(252, 252, 252, 1);
}

.navigation-user-item:focus> .navigation-search-entry {
outline: rgba(0, 0, 0, 1);
}

.navigation-user-item:hover>.popover-search-wrapper,
.navigation-user-item:focus-within>.popover-search-form {
 display: block;
}

.cart-item:focus-within > .navigation-cart,
.entry-popover:focus-within > .navigation-user-entry,
.navigation-user-item:focus-within > .navigation-search-entry {
  background-color: rgba(255, 74, 120, 1);
  color: rgba(252, 252, 252, 1);
}

.navigation-user-item:focus-within svg {
   fill: rgba(252, 252, 252, 1);
}

.navigation-user-item:active > .navigation-search-entry {
   background-color: rgba(255, 74, 120);
   opacity: 0.3;
}

.navigation-user-item:hover svg {
   fill: rgba(252, 252, 252, 1);
}

.navigation-user-entry {
  position: relative;
}

.popover-personal {
    /* display: none; */
    width: 420px;
    position: absolute;
    background-color: rgba(45, 52, 64, 0.12);
    color: rgba(45, 52, 64, 1);
    padding-top: 5px;
    top: 100%;
    right: 2px;
    z-index: 6;
}

.personal-account {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  width: 200px;
  margin-bottom: 32px;
  color: #2d3440;
}
.entry-popover {
  position: relative;
  width: 90px;
}

.account-wrapper {
  width: 420px;
  margin: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 48px;

}


 .entry-button {
  position: absolute;
    flex-wrap: wrap;
    justify-content: left;
    width: 113px;
    padding: 8px 32px;
    top: -80px;
    left: 4px;
    background-color: #FF2F64;
    color: #FCFCFC;
    border-radius: 50px;
    border: 4px solid rgba(255, 47, 100, 0.3);
    margin-bottom: 52px;
      margin-left: 48px;
}

.entry-input {
  display: flex;
  flex-wrap: wrap;
  width: 324px;
}

.registr-wrapper {
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: row;
  width: 324px;
}

.entry-wrapper {
  position: absolute;
  width: 113px;
  flex-direction: column;
  margin: 0;
  top:-80px;
  left: 180px;

}

.auth-recovery,
.auth-register {
  display: inline;
  color: #2d3440;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
}

.input-account {
  padding: 14px;
}

.cart-popover-caption {
  padding: 0;
    margin: 0 0 30px 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: inherit;
}

.field-group {
  position: absolute;
   padding: 0;
   margin: 0;
}


/*
.popover-auth-button {
  grid-column: 1/2;
  background-color: #FF2F64;
  padding: 12px 5px;
  margin: 0;
  border: none;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  border-radius: 26px;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  cursor: pointer;
  margin-top: 17px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: rgba(252, 252, 252, 1);
} */

.form-register-wrapper {
  grid-column: 3/5;
  margin-top: 17px;
  padding-left: 2px;
}

.auth-form-recovery,
.auth-form-register {
  font-size: 14px;
  line-height: 20px;
  color: inherit;
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
}

.auth-form-recovery:hover,
.auth-form-register:hover,
.auth-form-recovery:hover::after,
.auth-form-register:hover::after {
  opacity: 0.7;
}

.auth-form-recovery::after,
.auth-form-register::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(45, 52, 64, 1);
}

.auth-form-recovery {
  margin-bottom: 4px;
}

.cart-item {
  position: relative;
  width: 113px;
}

.cart-item:focus-within > .cart-popover-wrapper,
.cart-item:hover > .cart-popover-wrapper {
  display: block;
}

.cart-popover-caption {
  padding: 0;
  margin: 0 0 31px 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: inherit;
}

.cart-popover-wrapper {
  position: absolute;
  display: none;
  z-index: 6;
  padding-top: 6px;
  top: 100%;
  right: 0;
}

.cart-popover {
  width: 441px;
  background-color: #ffffff;
  padding: 49px 46px 49px 49px;
  border-radius: 4px;
}

.cart-popover-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.cart-popover-list::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(231, 231, 231, 1);
  margin-bottom: 32px;
}

.cart-order-wrapper {

  display: flex;
  flex-wrap: wrap;
}

.cart-popover-item {
  display: grid;
  grid-template-columns: 46px 113px 68px 104px 15px;
  align-items: center;
  margin-bottom: 25px;
}

.cart-popover-item:last-child {
  margin-bottom: 30px;
}

.cart-item-link {
  grid-column: 1/3;
  display: flex;
  column-gap: 15px;
  align-items: flex-start;
  text-decoration: none;
}

.cart-caption-wrapper {
  grid-column: 3/4;
}

.cart-product-caption {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: rgba(45, 52, 64, 1);
}

.cart-product-quantity {
  font-size: 14px;
  color: rgba(185, 185, 185, 1);
  line-height: 20px;
  font-weight: 400;
}

.cart-product-price {
  grid-column: 4/5;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: inherit;
}

.cart-product-button {
  background-image: url("../images/cross.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  margin: 0;
  width: 10px;
  height: 10px;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.cart-product-caption:hover,
.cart-product-button:hover {
  opacity: 0.7;
}

.cart-form-button {
  background-color: rgba(255, 47, 100, 1);
  color: rgba(252, 252, 252, 1);
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  border: none;
  display: inline-block;
  padding: 12px 12px;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  border-radius: 26px;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  cursor: pointer;
  width: 198px;
  margin-right: auto;
}

.cart-total-price {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: inherit;
  width: 115px;
  padding-top: 13px;
}

/* нет товаров*/
.cart-empty {
  display: none;
}

/*Корзина пуста*/
.cart-popover-empty {
  /* display: none; */
  min-width: 288px;
  font-weight: 700;

}

.welcome-slider {
  display: block;
  min-width: 1170px;
  min-height: 554px;
}
.installation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}


.slider-wrapper {
  position: relative;
  width: 1170px;
  display: flex;
  margin-bottom: 80px;
}

.social-wrapper {
  position: absolute;
  top: 113%;
  right: 13%;
}

.slider-img-wrapper-current {
  position: relative;
  width: 1170px;
  background-color: #FEAFC3;
  color: #2d3440;
}

.slider-screen-list {
   padding: 0;
   margin: 0;
   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   list-style-type: none;

}

.slider-screen-item {
  width: 912px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.slider-screen {
  position: absolute;


}

.next-button {
  top: 283px;
  right: 280px;
  z-index: 5;
}

.previous-button {
  top: 283px;
  left: 527px;
  z-index: 5;
}

.socials-list {
  justify-content: flex-end;
}

.ice-cream-text {
  padding: 0;
  margin: 0 0 38px 0;
  font-size: 18px;
  line-height: 24px;
}

.ice-cream-wrapper {
  /*width: 100px;*/
    position: relative;
    z-index: 3;
}

.installation {
  width: 470px;
  align-items: center;
  position: relative;
  padding-left: 70px;
  padding-top: 20px;
}
.cream-desc-current {
   min-width: 429px;
display: block;
}

.ice-cream-caption {
  margin-top: 116px;
  margin-bottom: 24px;
  font-size: 36px;
    line-height: 46px;
    font-weight: 900;
    color: rgba(45, 52, 64, 1);
}

.ice-cream-desc {
  width: 429px;
  display: none;
}

.slider-img-link:focus-visible {
  outline-offset: -1px;
}

.slider-img::before {
  content: "";
  width: 327px;
    height: 312px;
    border-radius: 50%;
    background-color: rgba(255, 203, 216, 1);
    position: absolute;
    top: 1px;
    left: 1px;
    align-items: center;
}

.slider-img{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  height: 150px;
  top: 1px;
    left: 1px;
    align-items: center;
}

.slider-screen-item-current .slider-img {
  height: 100%;
  width: auto;
}

.slider-img-link {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100px;
  position: absolute;
  z-index: 2;
  opacity: 0.4;


}

.slider-img-link::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 203, 216, 1);
  border-radius: 50%;
  z-index: -1;

}

/* поменять слайд, нужно поставить на <li> slider-screen-item-current*/
/*текущий слайд ставить на ссылку slider-img-link */
.slider-screen-item-current .slider-img-link {
  margin-top: 20px;
  margin-left: -10px;
  width: 367px;
  opacity: 1;

}

.slider-screen-item-current .ice-cream-desc {
  display: block;
  padding: 115px 10px 0 70px;
  width: 526px;
}

.slider-img-link-current > .slider-img {
  width: 328px;
  height: 507px;
}

.slider-screen-item-current .slider-img-link::before {
  position: absolute;
  width: 327px;
  height: 312px;
  top: 100px;
  left: 1px;
}



.slider-buttons-wrapper {
  position: absolute;
}

.slider-button-arrow {
  border: 2px solid rgba(252, 252, 252, 1);
  /*проверить опасити*/
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #FEAFC3;
  color: #ffffff;
  cursor: pointer;
  align-items: center;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 20%;
  right: 20%;
}



.next-button {
  display: block;
   position: absolute;
    left: 20px;
    right: 20px;
    top: 20px;
}

.previous-button {
  display: block;
  position: absolute;
  /* transform: rotate(100px 200px); */
  left: 20px;
  right: 20px;
  top: 20px;

}

.slider-button-arrow svg {
  fill: rgba(252, 252, 252, 1);
}

.slider-button-arrow:hover {
  background-color: rgba(135, 139, 146, 1);
}

.slider-button-arrow:hover svg {
  fill: rgba(45, 52, 64, 1);
}

.slider-button-arrow:focus {
  border: 2px solid rgba(45, 52, 64, 1);
  background-color: rgba(254, 199, 213, 1);
}

.slider-button-arrow:focus svg {
  fill: rgba(45, 52, 64, 1);
}

.slider-button-arrow:active {
  background-color: rgba(254, 199, 213, 1);
  outline: none;
  border: none;
}

.slider-button-arrow:active svg {
  fill: rgba(45, 52, 64, 1);
}

.promotion-button,
.slider-order-link {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  color: inherit;
  padding: 12px 12px;
  text-align: center;
  background-color: rgba(252, 252, 252, 1);
  border-radius: 26px;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.slider-order-link {
  min-width: 139px;
  max-width: 170px;
  margin-right: 10px;
  margin-top: 10px;
}

.promotion-button {
  width: 176px;
  margin-bottom: 10px;
}

/*белая кнопка*/
.link:hover {
  outline-color: rgba(252, 252, 252, 1);
  box-shadow: 0 4px 15px (133, 133, 133, 0.15);
  background-color: rgba(252, 252, 252, 0.4);
}

.link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid rgba(45, 52, 64, 1);
}

.link:active {
  outline: 2px solid rgba(45, 52, 64, 1);
  background-color: rgba(252, 252, 252, 1);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

/*Спиннер для белых кнопок*/
.spinner-link {
  background-image: url("../images/spinner-black.svg");
  background-repeat: no-repeat;
  background-position: right 7% top 50%;
}

/*Спиннер для красных кнопок*/
.spinner-button {
  background-image: url("../images/spinner-white.svg");
  background-repeat: no-repeat;
  background-position: right 7% top 50%;
}

.contacts-wrapper .spinner-button {
  background-position: right 5% top 50%;
}

/*Не активное для белых кнопок-ссылок*/
.link-disabled {
  background-color: rgba(231, 231, 231, 1);
  outline: 4px solid rgba(252, 252, 252, 0.4);
  color: rgba(185, 185, 185, 1);
}

.slider-dots-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  width: 300px;
  align-items: flex-start;
}

.slider-dots-button {
  padding: 0;
  margin: 0;
  width: 12px;
  height: 12px;
  border: none;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 50%;
  cursor: pointer;
}

.slider-dots-button:hover {
  outline: 1px solid rgba(252, 252, 252, 1);
  outline-offset: -2px;
}

.slider-dots-button:focus {
  outline: 1px solid rgba(45, 52, 64, 1);
  outline-offset: -2px;
}

.slider-dots-button:active {
  background-color: rgba(252, 252, 252, 0, 5);
  outline: none;
}

.slider-dots-current {
  background-color: rgba(252, 252, 252, 1);
}

.socials-list,
.slider-socials-list {
  margin-bottom: 5px;
}

.slider-dots-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  line-height: 23px;
  margin-top: -3px;
}

.discount {
  min-width: 1170px;
  background-color: #FEAFC3;
  color: #2d3440;
  margin-bottom: 80px;
}

.discount-wrapper {
  display: flex;
  width: 1170px;
 justify-content: space-between;
 gap: 30px;

}

.promotion-proposal {
    text-align: center;
    font-size: 32px;
    line-height: 46px;
    font-weight: 900;
    margin-bottom: 55px;
  }

    .promotion-text {
      padding: 0;
      margin: 0;
      line-height: 22px;
      font-weight: 400;
      margin-bottom: 27px;
      flex-grow: 1;
    }

.promotion-description {
  background-color: rgba(255, 119, 153, 1);
  border-radius: 16px;
  padding: 36px 217px 36px 36px;
  display: flex;
  flex-direction: column;
}

.promotion-desc-raspberry {
  background-image: url("../images/raspberry.png");
  background-repeat: no-repeat;
  background-position: bottom right 0;
}

.promotion-desc-marshmallow {
  background-image: url("../images/marshmelow.png");
  background-repeat: no-repeat;
  background-position: bottom right 0;
}


.cart-icon {
  fill: #FCFCFC;
}

.products-cart-icon {
  width: 32px;
  height: 32px;
  background-color: rgba(255, 47, 100, 1);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-cart-icon:hover {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid rgba(255, 47, 100, 1);
}

.products-cart-icon:hover svg {
  fill: rgba(45, 52, 64, 1);
}

.products-cart-icon:focus {
  outline: 2px solid rgba(45, 52, 64, 1);
  background-color: rgba(255, 47, 100, 1);
}

.products-cart-icon:focus svg {
  fill: rgba(252, 252, 252, 1);
}

.products-cart-icon:active {
  outline: 2px solid rgba(255, 47, 100, 1);
  background-color: rgba(255, 203, 216, 1);
}

.products-cart-icon:active svg {
  fill: rgba(45, 52, 64, 1);
}

.popular-products {
  max-width: 1170px;
  min-height: 480px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 80px;

}

.popular-title {
  max-width: 900px;
  align-items: center;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  margin: 0 auto;
  margin-bottom: 55px;
}

.products-cards {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  top: 56px;

}

.products-wrapper {
  position: relative;
  background-color: rgba(252, 252, 252, 1);
  color: #2d3440;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 270px;
  border-radius: 5%;

}

.products-img-wrapper {
  position: absolute;
  top: -51px;
}

.products-img-wrapper::before {
  position: absolute;
  width: 168px;
  height: 168px;
  margin: 0 auto;
  border-radius: 5%;
}

.products-item-img {
  position: absolute;
  text-align: center;
  margin: 0 51px;
}

.products-desc-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 133px 40px 16px;
}
.products-caption {
  color: #2D3440;
  margin: 0;
  flex-wrap: wrap;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.products-desc {
   margin: 0 auto;
   flex-wrap: wrap;
   position: relative;
   font-weight: 400;
    font-size: 16px;
    line-height: 22px;
   color: #565C66;
}

.products-price-wrapper {
  max-width: 190px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 40px 28px 40px;
}

.products-price {
   font-size: 20px;
   line-height: 24px;
   font-weight: 700;
   max-width: 135px;
}

.production-about{
  max-width: 1170px;
  background-image: url("../images/pattern.png");
  background-repeat: repeat;
  padding: 24px;
  border-radius: 16px;
  margin-bottom: 80px;

}

.production-about-wrapper {
  padding: 58px 40px 54px 40px;
  display: grid;
  grid-template-columns: repeat(2, 505px);
  column-gap: 32px;
  row-gap: 43px;
  background-color: #ffffff;
  border-radius: 16px;

}


.production-about-caption {
  padding: 0;
  margin: 0 0 11px 0;
  text-align: center;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  grid-column: 1/-1;
}

.production-about-text {
  padding: 0;
  margin: 0;
  display: flex;
  column-gap: 16px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: rgba(86, 92, 102, 1);
}

.production-about-text::before {
  content: "";
  display: block;
  width: 48px;
  height: 48px;
  outline: 2px solid rgba(45, 52, 64, 1);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  flex-shrink: 0;
  outline-offset: -2px;
}

.about-technology::before {
  background-image: url("../images/horn.svg");
}

.about-ingredients::before {
  background-image: url("../images/leaf.svg");
}

.about-suppliers::before {
  background-image: url("../images/cow.svg");
}

.about-temperature::before {
  background-image: url("../images/thermometer.svg");
}

 .subscribe-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 570px);
  column-gap: 30px;
  margin-bottom: 80px;
  row-gap: 30px;
}

.blog {
  padding: 33px 33px 69px 33px;
  background-color: rgba(255, 255, 255, 1);
  background-image: url("../images/new.jpg");
  width: 570px;
  height: 224px;
  background-repeat: no-repeat;
  border-radius: 16px;

}

.blog-row {
color: #565C66;
font-size: 16px;
line-height: 20px;
margin-bottom: 67px;
}

.about-searving-caption {
  color: #2D3440;
  padding: 0;
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;

}

.about-searving-caption-link {
  text-decoration: none;
  color: inherit;
  width: 303px;
}

.blog-row {
  display: block;
  width: 400px;
  margin: 32px auto 12px 32px;
  color: #565C66;
}

.subscribe {
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 1);
  background-image: url("../images/pattern-form.png");
  background-size: auto 100%;
  padding: 6px;
}

.subscribe-box {
  background-color: rgba(255, 255, 255, 1);
  padding: 26px 28px 10px 26px;
  height: 100%;
  border-radius: 16px;
}

.subscribe-text {
  padding: 0;
  margin: 0 0 44px 0;
  line-height: 22px;
  color: rgba(86, 92, 102, 1);
}

.subscribe-input {
  border: none;
  padding: 14px 14px 14px 16px;
  outline: 1px solid rgba(185, 185, 185, 1);
  border-radius: 4px;
  width: 332px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
}

.subscribe-input {
  color: rgba(185, 185, 185, 1);

}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;

}

.registr-email {
 margin-bottom: 16px;
}

.registr-password {
  margin-bottom: 32px;
}

.registr-wrapper{
 display: flex;
 flex-direction: column;
 margin-top: 32px;

}
.subscribe-button {
  margin: 0;
  margin-left: auto;
  width: 155px;
  padding: 13px 12px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.button {
  color: rgba(252, 252, 252, 1);
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  border: none;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  border-radius: 26px;
  background-color: rgba(255, 47, 100, 1);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button:hover {
  outline: 4px solid rgba(255, 47, 100, 1);
  background-color: rgba(252, 252, 252, 0.3);
  color: rgba(45, 52, 64, 1);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button:focus {
  outline: 2px solid rgba(45, 52, 64, 1);
  background-color: rgba(255, 47, 100, 1);
  color: rgba(252, 252, 252, 1);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button:active {
  outline: 2px solid rgba(45, 52, 64, 1);
  background-color: rgba(254, 175, 195, 1);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  color: rgba(252, 252, 252, 1);
}

/*не активная красная кнопка*/
.button:disabled {
  outline: 4px solid rgba(185, 185, 185, 0.3);
  background-color: rgba(185, 185, 185, 1);
  color: rgba(86, 92, 102, 1);
}

.delivery-wrap {
  box-sizing: border-box;
  background-image: url("../images/delivery.jpg");
  background-repeat: no-repeat;
  width: 1170px;
  padding: 64px;
  border-radius: 16px;
  background-color: rgba(45, 52, 64, 0.12);
  margin-bottom: 80px;
}

.delivery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.delivery-desc-wrapper {
  width: 371px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 150px;
  margin-top: 103px;
  text-align: left;
}


.delivery-caption {
  min-width: 356px;
  padding: 0;
  margin: 0;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  margin-bottom: 24px;
}

.delivery-desc {
  min-width: 371px;
  padding: 0;
  margin: 0;
  color: rgba(86, 92, 102, 1);
  line-height: 22px;
  font-weight: 400;
}

.delivery-form-wrapper {
  position: relative;
  width: 500px;
  height: 406px;
  padding: 40px;
  display: flex;
  background-color: rgba(252, 252, 252, 1);
  border-radius: 5px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
}
.field-group {
  position: absolute;
  margin-bottom: 32px;
  row-gap: 16px;
  align-items: center;
  top: 130px;
}

.delivery-text {
 margin-bottom: 32px;
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
}

.delivery-form-text {
  max-width: 100%;
  text-align: left;
  margin: 0;
  padding: 0;
  color: #565C66;
  line-height: 22px;
}

.delivery-form-date-tel {
  width: 420px;
  min-height: 67px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.delivery-form-date {
  max-width: 117px;
    height: 48px;
    border: 14px 16px;
}

.delivery-form-phone {
  width: 287px;
  height: 48px;
    border: 14px 16px;
}

.delivery-form-address {
  width: 420px;
  margin-bottom: 32px;
  margin-top: 20px;
}

.delivery-form-button {
  display: flex;
  justify-content: center;
  width: 152px;
  height: 44px;
  background-color: #FF2F64;
  color: #FCFCFC;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  margin: 0 auto;
  margin-top: auto;
}

.form-label {
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
  align-items: center;
  text-decoration: none;
  color: inherit;
  margin-bottom: 8px;
}

.form-date,
.form-phone,
.form-adress {
  min-height: 76px;
}

.form-label-date >.tooltip-link {
  top: -7px;
  left: 66px;
}

.tooltip-link:hover .tooltip-link {
  display: inline-block;
}

.tooltip-text {
  display: none;
  position: absolute;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: rgba(86, 92, 102, 1);
  background-color:
    rgba(252, 252, 252, 1);
  width: 169px;
  outline: 1px solid rgba(185, 185, 185, 1);
  padding: 10px 8px;
  box-shadow: 0 4px 8px rgba(194, 194, 194, 0.2);
  border-radius: 1px;
  top: -7px;
  left: 81px;
  z-index: 5;
}

.tooltip-text::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-left: 1px solid rgba(185, 185, 185, 1);
  border-bottom: 1px solid rgba(185, 185, 185, 1);
  transform: rotate(45deg);
  left: -5px;
  top: 13px;
  background-color: rgba(252, 252, 252, 1);
  z-index: 6;
}

.form-field {
  width: 100%;
  outline: 1px solid rgba(185, 185, 185, 1);
  border-radius: 4px;
  border: none;
  padding: 13px 15px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: inherit;
}

.tooltip-link,
.form-label {
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.placeholder {
  color: #B9B9B9;
}

.address-caption {
  color: rgba(86, 92, 102, 1);
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  padding: 0;
  margin: 0 0 11px 0;
  width: 258px;
}


.contacts {
  position: relative;
  background-image: url("../images/feedback.jpg");
  background-repeat: no-repeat;
  width: 1170px;
  height: 492px;
  border-radius: 16px;
  background-color: rgba(237, 211, 213, 1);
  color: #2d3440;
}


.contacts-wrapper {
  position: absolute;
  background-color: rgba(252, 252, 252, 1);
  max-width: 343px;
  min-height: 364px;
  margin-top: 64px;
  margin-left: 64px;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
}

.contacts-phone-text {
  margin: 0 0 12px 0;
  padding: 0;
  color: #565C66;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
}

.contacts-phone {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
}

.contacts-schedule {
  padding: 0;
  margin: 0 0 32px 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.feedback-link {
  display: block;
  text-decoration: none;
  padding: 12px 6px;
  text-align: center;
  width: 250px;
  margin-bottom: 10px;
}

/*Не активная красная ссылка - кнопка*/
.button-disabled {
  outline: 4px solid rgba(185, 185, 185, 0.3);
  background-color: rgba(185, 185, 185, 1);
  color: rgba(86, 92, 102, 1);
}

/*Каталог*/
.header-breadcrumbs-item:not(:last-child)::after {
  content: "";
  display: block;
  width: 7px;
  height: 6px;
  background-image: url("../images/breadcrumbs-arrows-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.breadcrumbs-item-link {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

 .popover-catalog {
   display: none;
   position: absolute;
   padding-top: 9px;
   top: 100%;
   left: 1px;
   z-index: 2;
 }

.catalog-item {
  position: relative;

}
.catalog-menu-link {
  text-decoration: none;
  color: #2D3440;
  background-color: #ffffff;
}
.catalog-title {
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  border-bottom: 1px solid #2d3440;
}

.catalog-title::after {
  content: "";
  display: block;
  width: 103px;
  height: 1px;
  color: #B9B9B9;
  background-color: #ffffff;

}

.catalog-list {
  margin: 0;
  padding: 20px;
  text-align: start;
  margin-bottom: 5px;
  list-style: none;
  color: rgba(45, 52, 64, 1);
  background-color: #fff;

}


.navigation-link  {
   background-color: #FEAFC3;
   color: #2D3440;
   line-height: 20px;
   font-weight: 400;
   text-align: center;
   text-decoration: none;
   padding: 8px;
   border-radius: 50px;
   margin-right: 16px;

}

.navigation-link:hover {
   background-color: rgba(255, 74, 120, 1);
   color: rgba(252, 252, 252, 1);
   opacity: 0.7;

}

.navigation-link:focus {
   background-color: rgba(255, 74, 120, 1);
   outline: none;
    border: 2px solid rgba(0, 0, 0, 1);
    color: rgba(252, 252, 252, 1);

}

.navigation-link:active {
  background-color: rgba(255, 74, 120, 1);
  color: rgba(252, 252, 252, 1);
  opacity: 0.5;
}


.login-button {
  border: none;
  min-width: 88px;
  font-size: 14px;
}

 .search-button {
  width: 11px;
  height: 11px;
  color: #2D3440;
  background-color: #FEAFC3;
  opacity: 0.6;
  overflow: hidden;
  border: none;

}

 .counter {
  min-width: 115px;
  font-size: 14px;

}



.installation {
 width: 1170px;
 margin: 0 auto;
 margin-bottom: 80px;
 text-align: center;
}

.slider-installation-list {
 display: flex;
 flex-wrap: wrap;
 list-style: none;
}

.slider-card-1 {
  width: 327px;
  display: flex;
}

.slider-description {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-left: 70px;
  text-align: left;
}

.slider-text {
   display: block;
   margin: 0;
   flex-wrap: wrap;
   min-width: 429px;
   font-size: 18px;
   line-height: 24px;
   color: rgba(45, 52, 64, 1);
   top: 136px;
   margin-bottom: 24px;
}

.slider-link {
  min-width: 139px;
  flex-wrap: wrap;
  font-weight: 900;
  border: 4px solid rgba(252, 252, 252, 0.4);
  background-color: #fff;
  color: rgba(45, 52, 64, 1);
  border-radius: 50px;
  padding: 6px 10px;
  text-decoration: none;
}

.slider-link:active {
  background-color: #fff;
  border: 2px solid rgba(45, 52, 64, 1);
}

.slider-link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid rgba(45, 52, 64, 1);
}

.slider-link:hover {
  background-color: rgba(252, 252, 252, 0.4);
  border-color: #fff;
}

.breadcrumbs-wrapper {
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
}

.bread-wrapper {
  width: 100%;

  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}
.breadcrumbs-title {
  display: flex;
  flex-wrap: wrap;
  color: #2D3440;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.breadcrumbs-item {
  flex-wrap: wrap;
  flex-direction: row;
  margin-right: 8px;
}

.breadcrumbs-link  {
  color: #2d3440;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}
